body{
    padding: 0px;
    margin: 0px;
    background-color: cadetblue;
}

nav{
    position: fixed;
    width: 70px;
    background-color: cornflowerblue;
    height: 100vh;
}
.nav-link{
    list-style: none;
    padding: 0;
    align-items: center;
    left: 0;
    width: 100%;
    font-size: 25px;
    height: 30px;
    text-align: center;
    width: 100%;

}
.nav-link:last-child(){
    margin-top: auto;
    background-color: brown;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    visibility: hidden;
}

footer{
    position: absolute;
    bottom: 0;
    width:  100%;
    text-align: center;
}

.nav-link:hover{
    background-color: blueviolet;
}